/*GENERALES*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.contenedor{
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.titulo-seccion{
  text-align: center;
  margin-bottom: 40px;
}

.titulo-seccion h2{
  color: #0089E0;
  font-size: 3.125rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.titulo-seccion p{
  color: #979797;
  font-size: 1rem;
  font-weight: 400;
}

/*Boton Volver Arriba*/
.btn-volver-arriba{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.5);
  border-radius: 30%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  margin-right: -60px;
  transition: all .4s ease;
}

.btn-volver-arriba a{
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 30%;
  text-align: center;
}

.btn-volver-arriba a i{
  font-size: 1rem;
  color: #fff;
  line-height: 40px;
}

/* ------ ENCABEZADO ------ */

.menu-bar-pc{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(255,255,255, 0.15);
  padding: 0 36px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

.logo{
  display: inline-block;
  width: 50px;
}

.logo img{
  width: 100%;
  vertical-align: top;
}

.menu-principal a, .top-redes a{
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}

.menu-principal a:last-child, .top-redes a:last-child{
  padding-right: 0;
}

.top-redes a i{
  font-size: 1.2rem;
}

.menu-principal a:hover, .top-redes a:hover{
  color: #0089E0;
}

.fixed-header{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(204,204,204,0.5);
  padding: 0 36px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all .4s ease;
  margin-top: -68px;
}

.fixed-header .menu-principal a, .fixed-header .top-redes a{
  color: #444444;
}

.fixed-header .menu-principal a:hover, .top-redes a:hover{
  color: #0089E0;
}

/*Mobile menu*/
.menu-mobile{
  display: none;
}

/* ------ MAIN ------ */

/*Banner principal*/

.main{
  width: 100%;
  margin-top: -68px;
}

.main .banner-principal{
  width: 100%;
  position: relative;
}

.main .banner-principal .banner{
  width: 100%;
  height: 100vh;
  background-image: url('../img/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main .banner-principal .texto-banner{
  display: inline-block;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main .banner-principal .texto-banner h1{
  font-size: 6.0625rem;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  margin-bottom: 30px;
}
/* este es el botón de ver retos */
.main .banner-principal .texto-banner a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  background: #0089E0;
  color: #fff;
  transition: all .7s ease;
}
/* este es el hover del botón ver retos */
.main .banner-principal .texto-banner a:hover{
  background: #fff;
  color: #0089E0;
}

/*Proyectos*/

.main .proyectos{
  background: #F3F4FA;
  padding: 108px 0 54px 0;
}

.main .proyectos .galeria-proyectos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 34px;
  border-bottom: 1px solid #ccc;
}

.main .proyectos .galeria-proyectos .proyecto{
  width: 32%;
  margin-bottom: 2%;
  cursor: pointer;
}

.main .proyectos .galeria-proyectos .proyecto img{
  width: 100%;
  vertical-align: top;
}

/*Modal fotos proyectos*/
.modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 9999999999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal img{
  width: 90%;
  max-width: 600px;
}

.modal .btn-cerrar{
  position: fixed;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  background: #0089E0;
  text-align: center;
  cursor: pointer;
}

.modal .btn-cerrar i{
  color: #fff;
  font-size: 1rem;
  line-height: 50px;
}

/* ------ PIE DE PÁGINA ------ */

footer{
  background: #f3f4fa;
  padding: 54px 0;
  text-align: center;
}

footer .copy{
  color: #979797;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 15px;
}

footer .footer-redes a{
  display: inline-block;
  padding: 0 10px;
  color: #979797;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}

footer .footer-redes a:hover{
  color: #0089E0;
}


/* ----- MEDIA QUERIES ----- */

@media screen and (max-width:1040px){
 
  /*Sección información extra*/
  .main .info-extra .contenedor .info{
    width: 100%;
  }
  .main .info-extra .contenedor .foto{
    display: none;
  }
}

@media screen and (max-width: 900px){
  /*Encabezado*/
  .menu-bar-pc{
    display: none;
  }

  .menu-mobile{
    display: block;
    width: 100%;
    padding: 5px 18px;
    background: #fff;
    color: #444444;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .menu-mobile .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-mobile .barra .logo{
    width: 40px;
  }
  .menu-mobile .barra a i{
    font-size: 1.4rem;
    color: #444444;
  }

  .menu-mobile .menu-principal{
    width: 80%;
    display: block;
    position: fixed;
    top: 56px;
    left: -100%;
    border-bottom: 1px solid rgba(204,204,204,0.5);
    border-right: 1px solid rgba(204,204,204,0.5);
    box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.2);
    background: #fff;
    text-align: center;
  }

  .menu-mobile .menu-principal a{
    display: block;
    padding: 10px;
    color: #444444;
    border-bottom: 1px solid rgba(204,204,204,0.5);
  }

  .menu-mobile .menu-principal a:hover{
    background: #f7f7f7;
  }
  .fixed-header{
    display: none;
  }

  /*Main*/
  .main{
    margin-top: 0;
  }
}

@media screen and (max-width:550px){
  /*Banner principal*/
  .main .banner-principal .texto-banner h1{
    font-size: 4rem;
  }

  /*Proyectos*/
  .main .proyectos .galeria-proyectos .proyecto{
    width: 49%;
  }
 
  /*Sección información extra*/
  .main .info-extra .contenedor{
    flex-wrap: wrap;
    text-align: center;
  }
  .main .info-extra .contenedor .icono-info{
    width: 100%;
    margin-bottom: 25px;
  }
  .main .info-extra .contenedor .icono-info i{
    font-size: 3.5rem;
  }
  .main .info-extra .contenedor{
    margin-left: 0;
  }
  .main .info-extra .contenedor{
    font-size: 1.175rem;
  }
  .main .info-extra .contenedor:first-child{
    margin-bottom: 40px;
  }
}